<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://orderreservationfunction20210713195931.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/73a292b8-669a-4ab4-9a1f-22978af399f3/resourcegroups/learn-df924f57-6f59-49fb-b6ad-b5aed79a3647/providers/Microsoft.Web/sites/OrderReservationFunction20210713195931</ResourceId>
    <UserName>$OrderReservationFunction20210713195931</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://orderreservationfunction20210713195931.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>