<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azuurecosmosdbfunction20210706220012.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1a4e5d62-0129-4865-9c96-9463e50e79d9/resourcegroups/CloudXdev/providers/Microsoft.Web/sites/AzuureCosmosDBfunction20210706220012</ResourceId>
    <UserName>$AzuureCosmosDBfunction20210706220012</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azuurecosmosdbfunction20210706220012.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>